@charset "UTF-8";
* {
  box-sizing: border-box;
}

html,
button {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #353535;
  letter-spacing: 0.5px;
  font-size: 16px;
}

body,
h2,
h3,
h4,
figure,
ul {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 10px 0 5px 0;
}

.alternative-font {
  font-family: "Shrikhand";
  letter-spacing: 0.7px;
}

.text-darker {
  color: #272727;
}

.text-lighter {
  color: #444444;
}

.text-lightest {
  color: #7e7e7e;
}

.site-header {
  text-align: center;
}

.site-footer {
  font-size: 0.75rem;
  background-color: #353535;
  color: white;
}
.site-footer .footer-content {
  padding: 25px;
}
.site-footer .footer-items {
  margin-top: 15px;
  list-style: none;
  padding: 0;
}
.site-footer .footer-items > * {
  margin-top: 10px;
  margin-bottom: 10px;
}
.site-footer .footer-items > *:first-child {
  margin-top: 0;
}
.site-footer .footer-items > *:last-child {
  margin-bottom: 0;
}
.site-footer .footer-items i {
  margin-right: 4px;
  width: 15px;
}
.site-footer .footer-items .partenership-icon {
  transform: scaleX(0.8);
  transform-origin: left;
}

@media screen and (min-width: 600px) {
  .site-footer .footer-content {
    display: flex;
    justify-content: center;
  }
  .site-footer .footer-content > * {
    margin-left: 10px;
    margin-right: 10px;
  }
  .site-footer .footer-content > *:first-child {
    margin-left: 0;
  }
  .site-footer .footer-content > *:last-child {
    margin-right: 0;
  }
  .site-footer .footer-items {
    display: flex;
    margin-top: 0;
    align-items: center;
    list-style: circle;
  }
  .site-footer .footer-items > * {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
  .site-footer .footer-items > * {
    margin-left: 10px;
    margin-right: 10px;
  }
  .site-footer .footer-items > *:first-child {
    margin-left: 0;
  }
  .site-footer .footer-items > *:last-child {
    margin-right: 0;
  }
}
#localisation {
  background-color: #eaeaea;
  margin: 0;
  padding: 18px 0;
  box-shadow: 0 10px 5px -10px grey inset;
}

#localisation-icon {
  margin-right: 15px;
}

#jumbotron {
  background-color: #f6f6f6;
  padding: 35px;
}

#explore-button {
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0 5px 20px -10px #444444;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 30px;
  font-weight: bold;
  margin: 15px 0;
}

#how-it-works {
  padding: 50px 20px;
}
#how-it-works > * {
  margin-top: 25px;
  margin-bottom: 25px;
}
#how-it-works > *:first-child {
  margin-top: 0;
}
#how-it-works > *:last-child {
  margin-bottom: 0;
}
#how-it-works .operation-container > * {
  margin-top: 25px;
  margin-bottom: 25px;
}
#how-it-works .operation-container > *:first-child {
  margin-top: 0;
}
#how-it-works .operation-container > *:last-child {
  margin-bottom: 0;
}

#restaurants {
  padding: 50px 20px;
  background-color: #f6f6f6;
}
#restaurants > * {
  margin-top: 25px;
  margin-bottom: 25px;
}
#restaurants > *:first-child {
  margin-top: 0;
}
#restaurants > *:last-child {
  margin-bottom: 0;
}
#restaurants .restaurant-container > * {
  margin-top: 25px;
  margin-bottom: 25px;
}
#restaurants .restaurant-container > *:first-child {
  margin-top: 0;
}
#restaurants .restaurant-container > *:last-child {
  margin-bottom: 0;
}

#loader-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: #eaeaea;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  animation: hide 1s forwards 3s;
}

@keyframes hide {
  to {
    opacity: 0;
    transform: translateY(-100%);
  }
}
@media screen and (min-width: 600px) {
  #how-it-works .operation-container {
    display: flex;
    justify-content: center;
  }
  #how-it-works .operation-container > * {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
  #how-it-works .operation-container > * {
    margin-left: 17.5px;
    margin-right: 17.5px;
  }
  #how-it-works .operation-container > *:first-child {
    margin-left: 0;
  }
  #how-it-works .operation-container > *:last-child {
    margin-right: 0;
  }
  #how-it-works h2 {
    text-align: center;
  }

  #restaurants h2 {
    text-align: center;
  }
  #restaurants .restaurant-container {
    margin: -17.5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  #restaurants .restaurant-container > * {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
  #restaurants .restaurant-container > *, #restaurants .restaurant-container > :first-child {
    margin: 17.5px;
  }
}
.restaurant-page {
  background-color: #f6f6f6;
  padding-bottom: 25px;
}

.restaurant-page-header {
  height: 450px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.restaurant-page-header .top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-color: white;
  box-shadow: 0 5px 20px -10px #444444;
}
.restaurant-page-header .top-bar::after {
  content: " ";
  width: 20px;
  height: 1px;
}
.restaurant-page-header .top-bar .go-back-link {
  width: 20px;
  font-size: 1.2rem;
  margin-top: 8px;
}
.restaurant-page-header.restaurant-img-a-la-francaise {
  background-image: url("../images/a-la-francaise-small.jpg");
}
.restaurant-page-header.restaurant-img-note-enchantee {
  background-image: url("../images/note-enchantee-small.jpg");
}
.restaurant-page-header.restaurant-img-palette-du-gout {
  background-image: url("../images/palette-du-gout-small.jpg");
}
.restaurant-page-header.restaurant-img-delice-des-sens {
  background-image: url("../images/delice-des-sens-small.jpg");
}

.restaurant-full {
  background-color: #f6f6f6;
  transform: translateY(-38px);
  padding: 30px 15px 0 15px;
  border-top-left-radius: 38px;
  border-top-right-radius: 38px;
}
.restaurant-full .restaurant-title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px 0 5px;
}

.choice-container {
  margin-top: 35px;
}
.choice-container > * {
  margin-top: 15px;
  margin-bottom: 15px;
}
.choice-container > *:first-child {
  margin-top: 0;
}
.choice-container > *:last-child {
  margin-bottom: 0;
}
.choice-container .dish-type-title {
  text-transform: uppercase;
  font-weight: 400;
  margin-left: 5px;
}
.choice-container .dish-type-title::after {
  content: "";
  width: 50px;
  height: 2px;
  background-color: #99e2d0;
  display: block;
}

.order-button {
  background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
  box-shadow: 0 5px 20px -10px #444444;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 30px;
  font-weight: bold;
  margin: 15px 0;
  display: block;
  margin: 50px auto 0 auto;
}

@media screen and (min-width: 600px) {
  .restaurant-page-header {
    height: auto;
  }
  .restaurant-page-header.restaurant-img-a-la-francaise {
    background-image: none;
  }
  .restaurant-page-header.restaurant-img-note-enchantee {
    background-image: none;
  }
  .restaurant-page-header.restaurant-img-palette-du-gout {
    background-image: none;
  }
  .restaurant-page-header.restaurant-img-delice-des-sens {
    background-image: none;
  }

  .restaurant-page {
    position: relative;
    overflow: hidden;
  }
  .restaurant-page::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    filter: blur(2px);
    transform: scale(1.1);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }

  .restaurant-img-a-la-francaise::before {
    background-image: url("../images/a-la-francaise-medium.jpg");
  }

  .restaurant-img-note-enchantee::before {
    background-image: url("../images/note-enchantee-medium.jpg");
  }

  .restaurant-img-palette-du-gout::before {
    background-image: url("../images/palette-du-gout-medium.jpg");
  }

  .restaurant-img-delice-des-sens::before {
    background-image: url("../images/delice-des-sens-medium.jpg");
  }

  .restaurant-full {
    transform: translateY(0);
    background-color: transparent;
    padding: 50px;
  }
  .restaurant-full .restaurant-title-container {
    background-color: #f6f6f6;
    border-radius: 15px;
    padding: 25px 54px 25px 42px;
    box-shadow: 0 5px 20px -10px #444444;
  }

  .choice-container {
    background-color: #f6f6f6;
    padding: 35px;
    border-radius: 15px;
    margin-top: 50px;
    box-shadow: 0 5px 20px -10px #444444;
  }
}
@media screen and (min-width: 1000px) {
  .restaurant-page-header .top-bar {
    max-width: 1000px;
    margin: auto;
    box-shadow: none;
    padding: 0;
  }

  .restaurant-full {
    max-width: 1000px;
    margin: auto;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-content {
    max-width: 1000px;
    margin: auto;
  }
}
.operation {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  border-radius: 15px;
  margin-left: 11px;
  box-shadow: 0 5px 15px -5px rgba(68, 68, 68, 0.2);
  padding: 12px 0;
}
.operation > * {
  margin-left: 12.5px;
  margin-right: 12.5px;
}
.operation > *:first-child {
  margin-left: 0;
}
.operation > *:last-child {
  margin-right: 0;
}
.operation .operation-index {
  width: 22px;
  height: 22px;
  border-radius: 100%;
  background-color: #9356dc;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(-11px);
  margin-right: 0;
  font-size: 0.7rem;
  padding-top: 1px;
}
.operation .operation-text {
  font-weight: bold;
  font-size: 0.85rem;
}
.operation:hover {
  background-color: #f5edff;
}
.operation:hover i {
  color: #9356dc;
}

@media screen and (min-width: 600px) {
  .operation {
    position: relative;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
  }
  .operation > * {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
  .operation > * {
    margin-top: 12.5px;
    margin-bottom: 12.5px;
  }
  .operation > *:first-child {
    margin-top: 0;
  }
  .operation > *:last-child {
    margin-bottom: 0;
  }
  .operation .operation-index {
    position: absolute;
    transform: translateX(0);
    width: 32px;
    height: 32px;
    bottom: -32px;
    font-size: 1.05rem;
  }
  .operation .operation-text {
    text-align: center;
    font-size: 1rem;
  }
}
.restaurant {
  border-radius: 10px;
  overflow: hidden;
  height: 275px;
  position: relative;
  display: flex;
  flex-direction: column;
  box-shadow: 0 5px 15px -5px rgba(68, 68, 68, 0.2);
}
.restaurant .new-info {
  position: absolute;
  top: 12px;
  right: 12px;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 2px;
  font-size: 0.75rem;
  letter-spacing: 0;
  padding: 5px 8px;
}
.restaurant img {
  object-fit: cover;
  object-position: center 62%;
  height: 100%;
  width: 100%;
}
.restaurant figcaption {
  flex: 0 0 auto;
  display: flex;
  padding: 15px 15px 15px 10px;
}
.restaurant figcaption h3 {
  margin: 0;
  margin-bottom: 5px;
}
.restaurant figcaption p {
  margin: 0;
}
.restaurant .restaurant-image-link {
  flex: 1 1 auto;
  height: 100%;
  overflow: hidden;
}
.restaurant .restaurant-text-link {
  color: inherit;
  text-decoration: none;
  flex: 1 1 auto;
}

@media screen and (min-width: 600px) {
  .restaurant {
    width: 285px;
  }
}
.dish {
  box-shadow: 0 5px 15px -5px rgba(68, 68, 68, 0.2);
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
}
.dish .dish-title {
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 5px;
  font-size: 1.2rem;
}
.dish .dish-info {
  flex: 1 1 auto;
  white-space: nowrap;
  overflow: hidden;
  margin: 15px;
}
.dish .dish-description-container {
  display: flex;
  justify-content: space-between;
}
.dish .description {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
}
.dish .price {
  font-weight: bold;
  margin-left: 10px;
}
.dish .dish-selection-marker {
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #99e2d0;
  color: white;
  width: 0;
  font-size: 1.1rem;
}
.dish:hover .dish-selection-marker {
  width: 65px;
}

.heart-container {
  font-size: 1.5rem;
}
.heart-container .heart-control {
  display: none;
}
.heart-container .heart {
  cursor: pointer;
}
.heart-container .heart::before {
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-family: "Font Awesome 5 Free";
  content: "";
}
.heart-container .heart-control:checked + .heart::before {
  color: #ff79da;
  font-weight: 900;
}
@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
  .heart-container .heart-control:checked + .heart::before {
    background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.loader {
  display: flex;
}
.loader::before {
  content: "";
  width: 15px;
  height: 15px;
  background-color: #ff79da;
  margin: auto;
  display: block;
  border-radius: 50%;
  animation: grow-and-shrink 1.5s infinite 0.75s;
}
.loader .loading-text {
  font-size: 1.5rem;
  position: relative;
  margin: 10px;
}
.loader .loading-text::before {
  content: attr(data-content);
  position: absolute;
  width: 100%;
  height: 100%;
  color: #ff79da;
  clip-path: polygon(0 0, 0 0, 0 100%, 0 100%);
  animation: reveal-box 1.5s infinite;
}
@supports (-webkit-background-clip: text) and (-webkit-text-fill-color: transparent) {
  .loader .loading-text::before {
    background: linear-gradient(355deg, #9356dc 0%, #ff79da 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

@keyframes reveal-box {
  40%, 50% {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  75%, 100% {
    clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
  }
}
@keyframes grow-and-shrink {
  50% {
    background-color: #9356dc;
    transform: scale(0.3);
  }
}

/*# sourceMappingURL=build.css.map */
