// Define some typography styles, and some helper classes

@use "variables";

* {
  box-sizing: border-box;
}

html,
button {
  font-family: variables.$main-font, Arial, Helvetica, sans-serif;
  color: variables.$color-dark;
  letter-spacing: 0.5px;
  font-size: 16px;
}

body,
h2,
h3,
h4,
figure,
ul {
  margin: 0;
}

h1 {
  margin: 0;
  padding: 10px 0 5px 0;
}

.alternative-font {
  font-family: variables.$alternative-font;
  letter-spacing: 0.7px;
}

.text-darker {
  color: variables.$color-deeper-dark;
}

.text-lighter {
  color: variables.$color-lighter-dark;
}

.text-lightest {
  color: variables.$color-lightest-dark;
}
