@use "variables";

* {
  box-sizing: border-box;
}

html, button {
  font-family: variables.$main-font, Arial, Helvetica, sans-serif;
  color: variables.$color-dark;
}

body {
  margin: 0;
}

.alternative-font {
  font-family: variables.$alternative-font;
}

.text-darker {
  color: variables.$color-deeper-dark;
}

.text-lighter {
  color: variables.$color-lighter-dark
}
