@use "variables";

$gradient-orientation: 355deg;
$start-offset: 0%;
$end-offset: 100%;

@mixin main-gradient {
  background: linear-gradient(
    $gradient-orientation,
    variables.$color-primary $start-offset,
    variables.$color-secondary $end-offset
  );
}

@mixin main-gradient-lighter {
  background: linear-gradient(
    $gradient-orientation,
    lighten(variables.$color-primary, 3%) $start-offset,
    lighten(variables.$color-secondary, 3%) $end-offset,
  );
}

@mixin shadow {
  box-shadow: 0 5px 20px -10px variables.$color-lighter-dark;
}
@mixin shadow-spreaded {
  box-shadow: 0 5px 20px -5px variables.$color-lighter-dark;
}
@mixin card-shadow {
  box-shadow: 0 5px 15px -5px rgba(variables.$color-lighter-dark, 0.2);
}

@mixin children-gap-horizontal($gap) {
  & > * {
    margin-left: $gap/2;
    margin-right: $gap/2;
  }
  & > *:first-child {
    margin-left: 0;
  }
  & > *:last-child {
    margin-right: 0;
  }
}

@mixin children-gap-vertical($gap) {
  & > * {
    margin-top: $gap/2;
    margin-bottom: $gap/2;
  }
  & > *:first-child {
    margin-top: 0;
  }
  & > *:last-child {
    margin-bottom: 0;
  }
}

@mixin children-no-gap() {
  & > * {
    margin-top: 0;
    margin-left: 0;
    margin-bottom: 0;
    margin-right: 0;
  }
}

@mixin main-button() {
  @include main-gradient;
  @include shadow;
  border: none;
  color: white;
  padding: 15px;
  border-radius: 30px;
  font-weight: bold;
  margin: 15px 0;
  transition: box-shadow 0.3s;
  cursor: pointer;
  &:hover {
    @include main-gradient-lighter;
    @include shadow-spreaded;
  }
}

@mixin at-least-tablet() {
  @media screen and (min-width: map-get(variables.$breakpoints, tablet)) {
    @content;
  }
}

@mixin tablet-only() {
  @media screen and (min-width: map-get(variables.$breakpoints, tablet)) and (max-width: map-get(variables.$breakpoints, desktop)) {
    @content;
  }
}

@mixin desktop-only() {
  @media screen and (min-width: map-get(variables.$breakpoints, desktop)) {
    @content;
  }
}

@mixin text-main-gradient() {
  @supports (-webkit-background-clip: text) and
    (-webkit-text-fill-color: transparent) {
    @include main-gradient();
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
