$main-font: "Roboto";
$alternative-font: "Shrikhand";

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99E2D0;

$color-foundation-1: #f6f6f6;
$color-foundation-2: lightgrey;
$color-foundation-3: grey;

$color-deep-dark: #222222;
$color-dark: #272727

