$main-font: "Roboto";
$alternative-font: "Shrikhand";

$color-primary: #9356dc;
$color-secondary: #ff79da;
$color-tertiary: #99e2d0;

$color-primary-light: #f5edff;

$color-foundation-1: #f6f6f6;
$color-foundation-2: #eaeaea;
$color-foundation-3: grey;

$color-deeper-dark: #272727;
$color-dark: #353535;
$color-lighter-dark: #444444;
$color-lightest-dark: #7e7e7e;

$content-maw-width: 1000px;

$restaurant-names: "a-la-francaise", "note-enchantee", "palette-du-gout", "delice-des-sens";

$breakpoints: (
  tablet: 600px,
  desktop: 1000px,
);
