@use "../variables";
@use "../mixins";

@keyframes dish-appearance {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes rotation {
  to {
    transform: rotate(360deg);
  }
}

$dish-appearance-base-delay: 150;
$check-marker-transition-duration: 0.5s;

.dish {
  @include mixins.card-shadow();
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  opacity: 0;
  transform: translateY(45px);

  .dish-title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  .dish-info {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    margin: 15px;
  }
  .dish-description-container {
    display: flex;
    justify-content: space-between;
  }
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
  .price {
    font-weight: bold;
    margin-left: 10px;
  }
  .dish-selection-marker-container {
    flex: 0 0 auto;
    background-color: variables.$color-tertiary;
    color: white;
    width: 0;
    font-size: 1.1rem;
    transition: width $check-marker-transition-duration;
    overflow: hidden;
  }

  .dish-selection-marker {
    width: 65px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;

    i {
      transform: rotate(-90deg);
    }
  }

  &:hover {
    .dish-selection-marker-container {
      width: 65px;
      i {
        animation: rotation $check-marker-transition-duration forwards;
      }
    }
  }

  // generate delayed animation classes (only 4 because this is the maximum number of dish per dish type)
  @for $i from 0 to 4 {
    &.delayed-appearance-#{$i} {
      animation: dish-appearance
        1s
        #{$i *
        $dish-appearance-base-delay}ms
        forwards;
    }
  }
}
