@use "../variables";
@use "../mixins";

.dish {
  @include mixins.card-shadow();
  background-color: white;
  border-radius: 15px;
  display: flex;
  justify-content: space-between;
  overflow: hidden;

  .dish-title {
    overflow: hidden;
    text-overflow: ellipsis;
    margin-bottom: 5px;
    font-size: 1.2rem;
  }
  .dish-info {
    flex: 1 1 auto;
    white-space: nowrap;
    overflow: hidden;
    margin: 15px;
  }
  .dish-description-container {
    display: flex;
    justify-content: space-between;
  }
  .description {
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
  }
  .price {
    font-weight: bold;
    margin-left: 10px;
  }
  .dish-selection-marker {
    flex: 0 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: variables.$color-tertiary;
    color: white;
    width: 0;
    font-size: 1.1rem;
  }

  &:hover {
    .dish-selection-marker {
      width: 65px;
    }
  }
}