@use "../variables";
@use "../mixins";

$badgeSize: 22px;
$badgeSizeTablet: 32px;

.operation {
  display: flex;
  align-items: center;
  background-color: variables.$color-foundation-1;
  border-radius: 15px;
  margin-left: $badgeSize/2;
  @include mixins.card-shadow;
  @include mixins.children-gap-horizontal(25px);
  padding: 12px 0;
  transition: background-color 0.5s;

  .operation-index {
    width: $badgeSize;
    height: $badgeSize;
    border-radius: 100%;
    background-color: variables.$color-primary;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    transform: translateX(-$badgeSize/2);
    margin-right: 0;
    font-size: 0.7rem;
    padding-top: 1px;
  }

  .operation-text {
    font-weight: bold;
    font-size: 0.85rem;
  }

  &:hover {
    background-color: variables.$color-primary-light;

    i {
      color: variables.$color-primary;
    }
  }
}

@include mixins.at-least-tablet(){
  .operation {
    position: relative;
    flex-direction: column-reverse;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    @include mixins.children-no-gap();
    @include mixins.children-gap-vertical(25px);

    .operation-index {
      position: absolute;
      transform: translateX(0);
      width: $badgeSizeTablet;
      height: $badgeSizeTablet;
      bottom: -$badgeSizeTablet;
      font-size: 1.05rem;
    }

    .operation-text {
      text-align: center;
      font-size: 1rem;
    }
  }
}
