@use "../variables";
@use "../mixins";

.restaurant-link {
  color: inherit;
  text-decoration: none;
  border-radius: 10px;
  overflow: hidden;
  display: block;
  height: 250px;
  @include mixins.card-shadow();

  figure {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
  }

  .new-info {
    position: absolute;
    top: 12px;
    right: 12px;
    background-color: #99e2d0;
    color: #008766;
    border-radius: 2px;
    font-size: 0.75rem;
    letter-spacing: 0;
    padding: 5px 8px;
  }

  img {
    object-fit: cover;
    height: 100%;
    flex: 1 1 auto;
    overflow: hidden;
  }

  figcaption {
    flex: 0 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 15px 15px 10px;
    h3 {
      margin: 0;
      margin-bottom: 5px;
    }
    p {
      margin: 0;
    }
  }

  .heart-container {
    font-size: 1.5rem;

    .heart-control {
      display: none;
    }

    .heart {
      display : none;
    }
    .heart-control:checked + .heart-filled {
      display: block;
      @include mixins.main-gradient();
      -webkit-background-clip: text;
      background-clip: text;
      -webkit-text-fill-color: transparent;
    }
    .heart-control:not(:checked) ~ .heart-empty {
      display: block;
    }


  }
}
